<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>VQA</title>
    <link rel="stylesheet" href="/static/VQA.css">
</head>
<body>
    <div class="header">
        <div class='content-header'>
            <h1>
                VQA
            </h1>
            <p> 18520999 - 18520711 - 18520434 </p>
        </div>
    </div>
    <div class="wrap">
        {% block content %}
                    
        {% endblock %}
    </div>
</body>
</html>