{% extends 'base.html' %}
{% block content %}
    <div class="area">
        <div>
            <img src="{{ url_for('send_uploaded_file', filename=uploaded_image) }}" style="width:300px;height:300px;" />
        </div>
    </div>
    <div class="area">
        <div class="ques-form">

            <h2 class="text-center">Enter Your Question About Image</h2>
            <form action="/question" method="POST" enctype="multipart/form-data">
    
                <div class="ques-form">
    
                    <input type="text" name="question" />
    
                </div>
                <div class="form-group">
                    <button>Submit</button>
                </div>
    
            </form>
            {% if rs!= 'none' %}
            <p> {{question}}</p>
            <p><u><b>{{rs}}</b></u></p>
            {% endif %}
        </div>
    </div> 
</div>
{% endblock %}

