{% extends 'base.html' %}
{% block content %}
    <div class='content'>
        <h2 class="text-center">Upload Your Image</h2>
    <form action="/" method="POST" enctype="multipart/form-data">
        <div class="upload-form">
                <input type="file" class="custom-file-input" name="image"
                    id="image">
        </div>
    </br>
    </br>
        <div class="form-group">
            <button>Submit</button>
        </div>
    </form>
    </div>
{% endblock %}